*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(199, 35, 35, 0.75),rgba(12, 12, 14, 0.75)),url(hunger.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 80px;
    cursor: pointer;
    border-radius: 30px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(241, 147, 147, 0.862);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    column-count: 2;
    column-gap: 20px;
    max-width: 800px;
    max-height: 350px;
    
    text-indent: 2px;
    text-align: initial;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: black;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.social ul{
    
    position: absolute;
    /* top: 50%; */
    left: 36%;
    padding: 0;
    margin: 0;
    /* transform: translateY(-30%,-30%); */
    display: flex;
}
.social ul li{
    list-style: none;
    margin: 0 15px;
}
.social ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #000;
}
.social ul li .fa:hover{
    color: #fff;
}
.social ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social ul li a:hover{
    transform: translate(0,-10px);
}

.social ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social ul li:nth-child(2) a:hover{
    background-color: #55acee;
}
.social ul li:nth-child(3) a:hover{
    background-color: red;
}
.social ul li:nth-child(4) a:hover{
    background-color: #e4405f;
}
.social ul li:nth-child(5) a:hover{
    background-color: #0077B5;
}



